<!--Sponsors Section-->
<section class="sponsors-section">
  <div class="auto-container">
        <div class="sec-title centered">
      <div class="title">Envie de devenir</div>
      <h2>Sponsor ?</h2>
    </div>

    <div class="sponsors-outer">
      <!--Sponsors Carousel-->
      <ul class="sponsors-carousel owl-carousel owl-theme">
        <li class="slide-item"><figure class="image-box"><a href="#"><%= image_tag '1.png' %></a></figure></li>
        <li class="slide-item"><figure class="image-box"><a href="#"><%= image_tag '1.png' %></a></figure></li>
        <li class="slide-item"><figure class="image-box"><a href="#"><%= image_tag '1.png' %></a></figure></li>
        <li class="slide-item"><figure class="image-box"><a href="#"><%= image_tag '1.png' %></a></figure></li>
        <li class="slide-item"><figure class="image-box"><a href="#"><%= image_tag '1.png' %></a></figure></li>
        <li class="slide-item"><figure class="image-box"><a href="#"><%= image_tag '1.png' %></a></figure></li>
      </ul>
    </div>

  </div>
</section>
<!--End Sponsors Section-->
