<!DOCTYPE html>
<html>
  <head>
    <title>SmashLeagueSeries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="page-wrapper">
      <!-- Main Header -->
      <header class="main-header">
        <!-- Header Top -->
        <div class="header-top">
          <div class="auto-container clearfix">

            <div class="top-left clearfix">
              <ul class="info-list">
              </ul>
            </div>

            <div class="top-right">
              <ul class="social-icons">
              </ul>
            </div>
          </div>
        </div>

        <%= render partial: "layouts/upper_header" %>
        <!-- Sticky Header  -->
        <%= render partial: "layouts/sticky_header" %>
        <!-- Mobile Menu  -->
        <%= render partial: "layouts/mobile_menu" %>
      </header>
      <!-- End Main Header -->
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
